/* .page-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
} */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#body-content {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1 1 auto;
    min-height: 0;
}

.home-head {
    border-radius: 0;
    background-size: cover; 
    background-repeat: no-repeat; 
    color: #fff !important;
    background-position: 50%, 50%;
    padding: .25rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cross-and-flame {
    max-height: 150px;
}

.cross-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #f6ebd8;
}

a, .navbar-light, .nav-link {
    color: #658cc8;
}

.navbar-light .navbar-nav .nav-link {
    color: #658cc8;
}

.page-title {
    background-color: #dab3a7;
    color: #20152c;
    padding: .5rem;
    margin-bottom: 1rem;
}

#lmc-footer {
    bottom: 0;
    width: 100%;
    background-color: #cb95ac;
    padding: 1rem;
}

.navbar-toggler-icon {
    color: #658cc8;
}

.img-container {
    padding: 1rem;
}

footer a {
    color: #050C95;
}

.joyous-calendar-content {
    padding: 2rem;
}

.main-content {
    padding: 2rem;
}

.carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 0px;
    left: 0%;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: rgba(32, 21, 44, 80%);
    text-align: center;
}

.richtext-image {
    max-width: 100%;
    height: auto;
}

.feature {
    border: 1px solid #20152c;
    margin: 1em 1em 1em 0em;
    border-radius: 5px;
}

.feature-title {
    background: #20152c;
    padding: .5rem;
    color: #fff;
}

.feature .rich-text {
    padding: .5rem;
}

/* calendar overrides */

.calendar thead tr.heading th {
    background-color: #20152c;
}

.calendar tbody tr td.today {
    background: #cb95aa;
}

li.active {
    background-color: #dab3a7;
}

.navbar {
    padding-left: 0;
    padding-right: 0
}

.navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (min-width: 576px) { 
    .navbar {
        padding-top: .5rem;
        padding-right: 1rem;
        padding-bottom: 0;
        padding-left: 1rem;
    }
}