{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="display-4">{{ self.title }}</h1>
                    {% if self.subtitle %}
                    <div class="lead">
                     {{ self.subtitle }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="block-content col-sm-8">
            {% for block in page.content %}
                {% include_block block %}
            {% endfor %}
        </div>
        <div class="col-sm-4">
            {% image self.page_image fill-480x640 as img %}
            <img src="{{ img.url }}" class="img-fluid" alt="image"/>
        </div>
    </div>
{% endblock %} 